<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="bower_components/angularjs-toaster/toaster.css">
</head>
<body ng-app="myApp">

<div class="container" ng-controller="UserController as vm">

<toaster-container></toaster-container>
<button type="button" class='btn btn-default' ng-click="vm.messWithUrl()">Mess with URL</button>

<h3>Alerts <button type="button" class='btn btn-default' ng-click="vm.addAlert('danger', 'Danger!')">Add Alert ({{vm.counter}})</button></h3>
<uib-alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.closeAlert(alert)">{{alert.msg}}</uib-alert>


<h3>Users</h3>

filter: <input type="text" ng-model="vm.filterValue">
<div infinite-scroll="vm.addMoreItems()" infinite-scroll-disabled="vm.eof">
<table class="table table-striped">
  <thead><tr>
  	<th />
    <th ng-class="vm.orderStyles['name']" ng-click="sortList('name')">Name</th>
    <th ng-class="vm.orderStyles['age']" ng-click="sortList('age')">Age</th>
    <th ng-class="vm.orderStyles['address']" ng-click="sortList('address')">Address</th>
    <th ng-class="vm.orderStyles['city']" ng-click="sortList('city')">City</th>
	  <th ng-class="vm.orderStyles['zip']" ng-click="sortList('zip')">Zip</th>
  </tr></thead>
  <tbody>
  <tr ng-repeat="user in vm.users | orderBy:vm.orderColumn | filter:vm.filterValue">
    <td>
      	<button class="btn" ng-click="vm.deleteUser(user)">
      		<span class="glyphicon glyphicon-trash"></span>&nbsp;&nbsp;Delete
  		</button>
    </td>
    <td>{{ user.name }}</td>
    <td>{{ user.age }}</td>
    <td>{{ user.address }}</td>
    <td>{{ user.city }}</td>
    <td>{{ user.zip }}</td>
  </tr></tbody>
</table>
</div>

{{vm.error}}

</div>

<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angularjs-toaster/toaster.js"></script>

<script src="scripts/app.js"></script>
<script src="scripts/controllers.js"></script>
<script src="scripts/services.js"></script>

</body>

</html>


